<div class="container-fluid">
	<h2 class="page-header">Usuario</h2>
	<div id="progressbar"></div>
	<!-- Error Message -->
	<div id="output_message"
		class="alert alert-warning" role="alert">
		<p><%= action_value %> Usuario</p>
	</div>
	<%= form_for @user, :remote => true, :format => :json,
		:html => { :id => 'new_user' } do |f| %>		
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">					
					<h3 class="col-xs-12">Formulario</h3>
				</div>
			</div>
			<div class="panel-body">
				<!-- Name -->
				<div class="form-group row _lessen-row">
					<label for="user_fullname" class="control-label _sl col-sm-1 col-lg-1">Nome</label>
					<div class="col-xs-12 col-sm-4 col-lg-7">
						<%= f.text_field :fullname, class: "form-control" %>	 											
					</div>
				</div>
				<!-- email -->
				<div class="form-group row _lessen-row">
					<label for="user_email" class="control-label _sl col-sm-1 col-lg-1">E-mail</label>
					<div class="col-xs-12 col-sm-4 col-lg-7">
						<%= f.text_field :email, class: "form-control" %>											
					</div>
				</div>
				<!-- Password and Password Confirmation -->
				<div class="form-group row _lessen-row">
					<label for="user_password" class="control-label _sl col-sm-1 col-lg-1">Senha</label>
					<div class="col-xs-6 col-sm-2 col-lg-3">											
						<%= f.password_field :password, class: "form-control" %>											
					</div>
					<label for="user_password_confirmation" class="control-label col-sm-1 col-lg-1">Confirmar</label>
					<div class="col-xs-6 col-sm-2 col-lg-3">					
						<%= f.password_field :password_confirmation, class: "form-control" %>						
					</div>
				</div>
				<!-- Institution -->
				<div class="form-group row _lessen-row">
					<label for="user_institution" class="control-label _sl col-sm-1 col-lg-1">Instituiçao</label>
					<div class="col-xs-12 col-sm-4 col-lg-7">
						<%= f.text_field :institution, class: "form-control" %>											
					</div>
				</div>
				<!-- Course -->
				<div class="form-group row _lessen-row">
					<label for="user_course" class="control-label _sl col-sm-1 col-lg-1">Curso</label>
					<div class="col-xs-12 col-sm-4 col-lg-7">
						<%= f.text_field :course, class: "form-control" %>											
					</div>
				</div>
				<!-- Buttons -->
				<div class="button-group row _plus-row">					
					<%= f.submit action_value,
						class: "btn btn-success _btn-confirm" %>
					<%= link_to "Voltar", root_path,   
						class: "btn btn-default _btn-back"%>													
				</div>				
			</div>
		</div>
	<% end %><!-- form -->	
</div><!-- container-fluid -->