<div class="container user-container">
	<%= form_for @user do |f| %>
		<div class="form">
			<h2 class="title-game">Comece a jogar hoje mesmo</h2>
			<!-- Nikename -->
			<div class="form-group">
				<%= f.text_field :nikename, placeholder: "Seu nikename",
					class: "form-control"  %>
				<div class="errors-user">
					<%= error_tag @user, :nikename %>
				</div>
			</div>
			<!-- E-mail -->
			<div class="form-group">					  
				<%= f.text_field :email, placeholder: "Seu endereço de e-mail",
					class: "form-control"  %>
				<div class="errors-user">
					<%= error_tag @user, :email %>
				</div>
			</div>
			<!-- Passw and Confirm -->
		    <div class="form-group">
		    	<%= f.password_field :password, 
		    		placeholder: "Sua senha",
					class: "form-control _passw-user" %>
			    <%= f.password_field :password_confirmation, 
		    		placeholder: "Confirme sua senha",
					class: "form-control _passw-user-confirm" %>
				<div class="errors-user">
					<%= error_tag @user, :password %>
				</div>
		    </div>
		    <!-- Master or Player - Inner Style -->
			<div class="form-inline profile-keymaster">			
				<%= f.select :profile, 
					[["Perfil", "Profile"], ["Master", "master"],
						["Player", "player"]], {},
					class: "form-control user-form-profile" %>
				<div class="errors-user">
					<%= error_tag @user, :profile %>
				</div>
			</div>
			<!-- Start! - Inner Style -->
		    <div class="button-group">
		    	<%= f.submit "Começar!",
					class: "btn btn-success _btn-usercad" %>
		    </div>
		    <p class="policy">
		    	Ao inscrever-se, você concorda com os 
		    	<span>Termos de Serviço</span>
		    	e a <span>Política de Privacidade</span>, 
		    	incluindo o Uso de <span>Cookies</span>. 
		    </p>
		</div>
	<% end %>
</div>