<%= form_for @user, :url => new_user_path do |f| %>
	<div class="form">
		<h2 class="title-game-home">Começar o Jogo!</h2>
		<!-- Nikename -->
		<div class="form-group">
			<%= f.text_field :nikename, placeholder: "Seu nikename",
				class: "form-control"  %>
		</div>
		<!-- E-mail -->
		<div class="form-group">					  
			<%= f.text_field :email, placeholder: "Seu endereço de e-mail",
				class: "form-control"  %>
		</div>
		<!-- Passw and Confirm -->
	    <div class="form-inline">
	    	<%= f.password_field :password, 
	    		placeholder: "Sua senha",
				class: "form-control"  %>
		    <%= f.password_field :password_confirmation, 
	    		placeholder: "Confirme sua senha",
				class: "form-control"  %>
	    </div>
	    <!-- Master or Player - Inner Style -->
		<div class = "form-inline"
			style =" padding: 1em 0;">			
			<%= f.select :profile, 
				[["Perfil", "profile"], ["Master", "master"],
					["Player", "player"]], {},
				class: "form-control" %>
		</div>
		<!-- Start! - Inner Style -->
	    <div class="button-group">
	    	<%= f.submit "Começar!",
				class: "btn btn-success" %>
	    </div>
	</div>
<% end %>