<div class="container user-container">
	<div class="alert alert-danger" style="width: 75%;
		margin: 1em 0 0 6em;">		
		<% if flash[:notice] %>
			<%= flash[:notice] %>
		<% end %>
	</div>
	<%= form_for @user_session do |f| %>
		<div class="form">
			<h2 class="title-game">Entrar no Jogo</h2>
			<!-- E-mail -->
			<div class="form-group">
			    <%= f.text_field :email, placeholder: "Entre com seu e-mail",
					class: "form-control"  %>
			</div>
			<!-- Password and Play! -->
			<div class="form-inline">
			    <%= f.password_field :password, 
		    		placeholder: "Entre com sua senha",
					class: "form-control"  %>
			    <%= f.submit "Jogar!",
					class: "btn btn-success" %>
			</div>
			<p style="margin-top: 1em;">						
				<a href="">Esqueceu a senha</a>
			</p>
		</div>
	<% end %>
</div>