<aside class="sidebar">
	<div class="avatar">					
		<% if @user.profile == "master" %>
			<%= image_tag("avatar_master.png", :alt => "player") %>
		<% else %>
			<%= image_tag("player.png", :alt => "master") %>
		<% end %>
	</div>
	<div class="nickname">
		<%= @user.nikename %>
	</div>
	<ul class="nav nav-sidebar">
		<li>
			<%=
				if @user.profile == "master" 
					link_to "Home",
					index_masters_path,
					class: "home"
				else
					link_to "Home",
					index_players_path,
					class: "home"
				end
			%>
		</li>
		<li>
			<%= 
				link_to "Editar Perfil",
				index_masters_path,
				class: "feather"
			%>
		</li>
		<li>
			<%= 
				link_to "Times",
				index_teams_path,
				class: "team"
			%>
		</li>
		<li>
			<%= 
				link_to "Rancking",
				index_masters_path,
				class: "trophy"
			%>
		</li>
		<li>
			<%= 
				link_to "Chat",
				index_masters_path,
				class: "chat"
			%>
		</li>
		<li>
			<%= 
				link_to "Configurações",
				index_masters_path,
				class: "config"
			%>
		</li>
		<li>
			<%= 
				link_to "Regras",
				index_masters_path,
				class: "rules"
			%>
		</li>		
	</ul>	
</aside>