<!DOCTYPE html>
<html>
<head>
  <title>WarOfLeaders</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_session_present? %>
	<%= render 'layouts/sidebar' %>
<% end %>	
<%= render 'layouts/navbar' %>
<%= yield %>

</body>
</html>
